$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'autoclearfix.scss';


body { 
  background: url("../img/bg_target.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body, html {
  height: 100%;
}

.fullscreen {
  width:100%;
  height:100%;
  overflow:scroll;
}

.division-box {
  background: rgba(238, 238, 238, 0.5);
  margin: 10px 0 10px 0;
  border-radius: 5px;
  padding: 5px 5px 1px 5px;
}

.panel-group {
  margin-bottom: 5px;
}

.result-panel {
  padding: 5px;
}

.individual-result-box {
  padding: 0 2px 0 2px;
}

.info-message {
  background-color: rgba(238, 238, 238, 0.5);
}